<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
    <head>
        <meta charset="UTF-8">
        <title>Hello World - Input Form</title>
        <link rel="stylesheet"
              th:href="@{/css/demo.css}" />
    </head>
    <body>
        <div class="defStyle">

            <div> <br /><br /> Write a name <br /> </div>
            <!-- v1
            <form th:action="@{/processedForm}" method="GET" >
                <input type="text" name="studentName"
                       placeholder="Your name" />
                <input type="submit" value="Submit" />
            </form>
            -->

            <!-- v2
            <form th:action="@{/processedFormVersionTwo}" method="GET" >
                <input type="text" name="studentName"
                       placeholder="Your name" />
                <input type="submit" value="Submit" />
            </form>
            -->
            <form th:action="@{/processedFormVersionThree}" method="POST" >
                <input type="text" name="studentName"
                       placeholder="Your name" />


                <input type="submit" value="Submit" />
            </form>
        </div>
    </body>
</html>